body {
  background-color: #777;
  color: rgb(234, 232, 232);
  font-size: 20px;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.calc-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  border: 1px solid #EEE;
  outline: none;
  background-color: rgba(230, 230, 230, .65);
}

.calc-grid > button:hover {
  background-color: rgba(230, 230, 230, .9);
}

.span-two {
  grid-column: span 2;
}

.output{
  grid-column: 1 / -1;
  background-color: rgba(10,10,10, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color:rgba(230, 230, 230, .7);
  font-size: 1.5rem;
}

.output .current-operand {
  color:rgba(255, 255, 255, .9);
  font-size: 2.5rem;
}