*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background: #eee;
}

.main{
  display: flex;
}

/*c Application's side menu */
.side-menu{
  width: 72px;
  min-height: 100vh;
  background-color: #222;
  background-image: url('/images/Background-1.png');
  z-index: 120;
}

.side-menu .flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/*? Side menu flex-children */
/*? Application buttons */
.side-menu__app-buttons{
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.close{
  background-color: lightcoral;
}
.close:hover{
  filter: brightness(1.3);
}
.collapse{
  background-color: rgb(255, 188, 65);
}
.collapse:hover{
  filter: brightness(1.3);
}
.resize{
  background-color: lightgreen;
}
.resize:hover{
  filter: brightness(1.3);
}

/* ? Applications bar */
.side-menu__apps{
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.apps__app{
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
}
:where(.app2,
.app3,
.app4,
.app5,
.app6,
.app7,){
  opacity: 30%;
}
:where(.app2:hover,
.app3:hover,
.app4:hover,
.app5:hover,
.app6:hover,
.app7:hover,){
  transition: opacity .3s ease;
  opacity: 100%;
}
.app1{
  background-image: url("/icons/Logo.svg");
}
.app2{
  background-color: pink;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/Shape1.svg");
}
.app3{
  background-image: url("/icons/Shape2.svg");
}
.app4{
  background-color: palevioletred;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/Shape3.svg");
}
.app5{
  background-image: url("/icons/Shape4.svg");
}
.app6{
  background-color: lightskyblue;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/Shape5.svg");
}
.app7{
  background-image: url("/icons/Shape6.svg");
}

/* ? Side menu plus button */
.side-menu__app-adding{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.side-menu__plus-button{
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #666;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/icons/bot-plus.svg);
}
.side-menu__plus-button:hover{
  transition: background-color .3s ease;
  background-color: #444;
}

/*c Application Nomad List*/

.nomad-list{
  width: 262px;
  height: 100vh;
  background: #25272A;
  mix-blend-mode: normal;
  background-image: url('/images/Background-1.png');
  opacity: .95;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
}
.nomad-list::-webkit-scrollbar{
  width: 8px;
  background-color: transparent;
}
.nomad-list::-webkit-scrollbar-track{
  border:none;
  outline: none;
  background-color: transparent;
}
.nomad-list::-webkit-scrollbar-thumb{
  background-color: #555;
  width: 8px;
  border-radius: 5px;
}
.nomad-list::before{
  content: '';
  top:-40%;
  left:-250%;
  filter: blur(5rem);
  opacity: .1;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: rgb(184, 238, 255);
  position: absolute;
  z-index: 3;
}
.nomad-list::after{
  content: '';
  top:-40%;
  left:60%;
  filter: blur(5rem);
  opacity: .08;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: rgb(184, 238, 255);
  position: absolute;
  z-index: 5;
}
/* ? Side menu Title / Nomad List */
.nomad__title{
  display: flex;
  justify-content: space-between;
  padding: 35px 26px 30px 26px;
  width: 100%;
  align-items: center;
  color: #eee;
}
.title{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.title h2 {
  margin-right: 5px;
}
.title i {
  cursor: pointer;
  font-size: 1.5rem;
}
.title i:hover{
  transition: transform .3s ease;
  transform: scale(1.2);
}
.nomad__title > i {
  font-size: 1.2rem;
  cursor: pointer;
}
.nomad__title > i:hover{
  transition: transform .3s ease;
  transform: scale(1.2);
}

/* ? Side menu Treads */
.nomad-list__treads {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 26px;
  gap: 11px;
  color: gray;
  margin-bottom: 30px;
}
.nomad-list__treads :where(.treads-icon){
  font-size: 1.3rem;
  cursor: pointer;
}
.treads{
  font-size: 1.1rem;
}

/* ? Side menu CHANNELS AND FRIENDS wrapper*/
.nomad-list__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 25px 0 26px;
  width: 100%;
  color: rgb(125, 125, 125);
}
/* ? Side menu CHANNELS */
:where(.list-channels, .list-friends){
  width: 100%;
  margin-bottom: 18px;
}
:where(.list-channels__title, .list-friends__title){
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  cursor: pointer;
}
:where(.list-channels__channels, .list-friends__friends){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.channels-title:hover{
  color: #eee;
}

:where(.channel) {
  flex-grow: 1;
  cursor: pointer;
  padding: 4px 0 9px 13px;
  
}
.channel:hover{
  transition: background-color .3s ease;
  background-color: rgba(255, 255, 255, .1);
  color: #eee;
}

/* ? Side menu FRIENDS */
.list-friends{
  display: flex;
  flex-direction: column;
  color: rgb(214, 214, 214);
}

.friends-title:hover{
  color: #eee;
  cursor: pointer;
}

.friend{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  cursor: pointer;
  padding: 6px 0
}
.friend:hover{
  transition: background-color .3s ease;
  background-color: rgba(255, 255, 255, .1);
  color: #eee;
}
.online-indicator{
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: lightgreen;
}

/*C Application's main middle area*/
/* ? Top */

.app-main-section{
  display: flex;
  flex-grow: 3;
  flex-shrink: 3;
  flex-direction: column;
  border-bottom: 1px solid #bbb;
  height: 100vh;
  max-width: 870px;
}
.app-main__header{
  display: flex;
  width: 100%;
  height: 65px;
  align-items: center;
  color: #A4A4A4;
  gap: 5px;
  border-bottom: 1px solid #ccc;
}

.section-padding{
  padding: 20px 23px;
}
.main-header__title{
  flex-grow: 1;
  color: #333;
}
.main-header__title span{
  font-weight: 700;
  font-size: 1.3rem;
  margin-right: 6px;
}
.main-header__counter {
  margin-right: 10px;
}
.main-header__counter i {
  margin-right: 4px;
}
.main-header__search{
  position: relative;
}
.main-header__search input {
  height: 33px;
  min-width: 200px;
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 5px 10px;
}
.main-header__search input:focus{
  outline: 1px solid #A4A4A4;

}
.main-header__search input::placeholder{
  color: #A4A4A4;
}
.main-header__search i {
  position: absolute;
  padding: 8px;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  cursor: pointer;
}
.main-header__search i:hover{
  transition: color .3s ease;
  color: #333;
}

.app-main__header :where(
  .main-header__notification,
  .main-header__properties
) {
  margin-left: 5px;
  font-size: 1.2rem;
}
.app-main__header :where(
  .main-header__notification,
  .main-header__properties
):hover {
  transition: color .3s ease;
  color: #333;
  cursor:pointer;
}

/* ? APP MAIN BODY */
.app-main__body{
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  background-color: #fff;
  color: #333;
}
.app-main__body::-webkit-scrollbar{
  width: 6px;
  background-color: transparent;
}
.app-main__body::-webkit-scrollbar-track{
  border:none;
  outline: none;
  background-color: transparent;
}
.app-main__body::-webkit-scrollbar-thumb{
  background-color: #bbb;
  width: 6px;
  border-radius: 5px;
}

.app__message-box {
  display: flex;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #bbb;
}
.app__message-box:first-child{
  margin-top: auto;
}
.message__profile-picture img{
  border-radius: 50%;
}
.text-area__author{
  display: flex;
  gap: 8px;
}
.author__name{
  font-weight: 700;
  color: #222;
}
.author__date{
  color: #A4A4A4;
}

/*? APP FOOTER TEXT INPUT AREA */
.app-main__footer {
  height: 70px;
  background-color: #fff;
  border-top: 1px solid #aaa;
  width: 100%;
  position: relative;
}
.app-main__footer input {
  width: 100%;
  height: 100%;
  padding: 20px 100px;
  color: #333;
  border: none;
  outline: none;
}
.app-main__footer input::placeholder{
  color: #bbb;
}
.app-main__footer :where(.micro, .add-btn, .smile) {
  position: absolute;
  font-size: 1.5rem;
  color: #A4A4A4;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.add-btn{
  left:23px;
}
.micro{
  left: 55px;
}
.smile{
  right: 23px;
}
.app-main__footer :where(.micro, .add-btn, .smile):hover{
  color: #444;
}

/*c RIGHT SIDE PROFILE INFO */
/*? Profile wrapper */
.side-profile-info{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  height: 100vh;
  background-color: #eee;
}
.profile__picture {
  width: 200px;
  height: 200px;
}
.profile__info{
  height: 100%;
  flex-grow: 1;
  flex-shrink: 2;
  padding: 20px;
}

/* ?  Profile info area*/
.profile-info__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 14px;
}
.profile-info__user{
  display: flex;
  gap: 6px;
  align-items: center;
}
.user__name{
  font-size: 1.3rem;
  font-weight: 700;
}
.user__indicator{
  width: 6px;
  height: 6px;
  background-color: green;
  border-radius: 50%;
}
.profile-info__position {
  color: #888;
}
.profile-info__socials {
  margin: 24px 0;
}
.profile-info__socials > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
}
.profile-info__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.send-message{
  width: 75%;
  height: 30px;
  background-color: #3577EF;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: 600;
  cursor: pointer;
}
:where(.send-message):hover {
  transition: background-color .3s ease-in-out;
  background-color: #255bc1;
}
.profile-info__buttons .settings{
  width: 20%;
  height: 30px;
  background-color: #3577EF;
  border: none;
  border-radius: 5px;
  color: #eee;
  cursor: pointer;
}
.profile-info__buttons .settings:hover{
  transition: background-color .3s ease-in-out;
  background-color: #255bc1;
}

/* ? secondary info */

.profile-info__secondary > div {
  margin-bottom: 11px;
}
.profile-info__secondary > div > div:first-child {
  color: #999;
}

/* ? profile hide button */
.hide-profile {
  display: block;
  margin: 0 23px 28px auto;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.hide-profile i {
  font-size: 2rem;
  color: #999;
}